# This is a Python tutorial to learn Data Science

This is my first progam using jupyter to code with python, it's just an example.

In [2]:
print('Hello to Data Science :)')

Hello to Data Science :)

Here is an example of how to put a mathematical formula. To express it we use the symbol $.

$a=b+c$

# Variables

+ We can use variables to express an assigment of a value.

$x=2$ (int)

$y=5$ (int)

$xy=7.7$ (float)

+ We can also express two variables in a same sentence and they can be of different types.

$a,b=4,5.0$

+ "del" is used to remove a variable from memory.
And if we try to print the variable previously deleted the result will be an error.

In [2]:
x=7

In [3]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     7

In [4]:
print(type(x))

<class 'int'>

In [5]:
a,b,c,d,e=7,6.5,"ey!",-3,23

In [6]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      7
b          float    6.5
c          str      ey!
d          int      -3
e          int      23
x          int      7

In [7]:
del e

In [8]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      7
b          float    6.5
c          str      ey!
d          int      -3
x          int      7

+ We can define complex numbers.

In [9]:
cmp=4+7j

In [11]:
print(type(cmp))

<class 'complex'>

# Operators

+ We have different mathematical operators. There are some examples.

In [1]:
45+34.5

79.5

In [2]:
34.2-545

-510.8

In [3]:
2*20

40

In [4]:
30/15

2.0

In [6]:
34%3

1

In [7]:
23//2

11

In [8]:
2**10

1024

+ We can also add strings.

In [10]:
s1='it is '
s2='an example of how to add strings'
resultstr=s1+s2
print(resultstr)

it is an example of how to add strings

+ There's an operator that show the last value saved of an operation "_".

In [11]:
_

1024

# Type Bool

+ There are variables that express just two values, true or false.

In [12]:
a=True
b=True
c=False

In [13]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [14]:
d=a or c
print(d)

True

In [15]:
not(a)

False

In [16]:
not(b)

False

In [17]:
not(c)

True

In [18]:
not(d)

False

In [19]:
(a and b) or (c and d)

True

In [20]:
not((a and b) or (c and d))

False

# Comparison

+ There are different ways to compare two or more values and determinate their features.

In [24]:
x=3.5
y=7.0
z=7.0

In [23]:
x==y

False

In [26]:
y==z

True

In [27]:
x!=z

True

In [28]:
y>x

True

In [29]:
x<z

True

In [30]:
y>=z

True

In [31]:
x<=y

True

In [32]:
3==3.0

True

In [33]:
x=4
y=9
z=8.3
r=-3

In [34]:
(x<y) and (z<y) or (r==x)

True

In [35]:
(r==x) and (x<y) or (z>y)

False

In [36]:
True and True or False and True

True

In [37]:
True and False or False and True

False

In [38]:
(True or False) and (False and False)

False

In [39]:
print((not(2!=3) and True) or (False and True))

False

# Some useful functions

+ round() function rounds the input value to a specified number of places or the nearest integer.

In [40]:
print(round(3.141592))

3

In [41]:
print(round(3.1415926535,4))

3.1416

In [42]:
print(round(5.5))

6

+ divmod(x,y) outputs the quotient and the remainder in a tuple.

In [43]:
print(divmod(27,5))

(5, 2)

In [44]:
print(divmod(10,2))

(5, 0)

In [45]:
t=divmod(23,3)
print(t)

(7, 2)

In [46]:
print(type(t))

<class 'tuple'>

We can access a specific element in the tuple.

In [47]:
t[0]

7

In [48]:
t[1]

2

+ isinstance() returns True, if the first argument is an instance of that class. Multiple classes can also be check at once.

In [49]:
print(isinstance(1,int))

True

In [51]:
print(isinstance(4.5,int))

False

In [55]:
print(isinstance(45.3,float))

True

In [56]:
print(isinstance(34.5,(int,float)))

True

In [59]:
print(isinstance(3+4j,(int,float)))

False

In [60]:
print(isinstance(3+4j,(complex,int,float)))

True

+ pow(x,y,z) x raise to the power y and remainder by z.

In [63]:
print(pow(2,3))

8

In [64]:
print(pow(2,3,2))

0

The last expression can also be used by using:

In [65]:
2**3%2

0

+ input() allows the user to enter data. All data to be entered shall be of type string but we can parse them.

In [67]:
inp=input('Enter a number: ')

Enter a number: 23

In [68]:
inp=input('Enter a phrase: ')

Enter a phrase: Ey wasap!

In [69]:
inp=input('Enter another number: ')

Enter another number: 45.3

In [70]:
print(type(inp))

<class 'str'>

In [72]:
inp=float(inp)
type(inp)

float

In [75]:
inp=float(input('Enter another number: '))

Enter another number: 4.7

In [76]:
print(type(inp))

<class 'float'>

+ TIP - To find out a little about the characteristics of a method, you must enter the name of the method followed by a question mark.

In [77]:
pow?

In [78]:
input?

In [79]:
isinstance?

We can get more information if we use the help method followed by the method name.

In [80]:
help(divmod)

Help on built-in function divmod in module builtins:

divmod(x, y, /)
    Return the tuple (x//y, x%y).  Invariant: div*y + mod == x.

# Exercises

+ Print only the bigger number.

In [5]:
a=float(input('Enter a number: '))
b=float(input('Enter a second number: '))
if a>b:
    print(a, 'is greater than', b)
elif a==b:
    print(a, 'and', b, 'are the same number')
else:
    print(b, 'is greater than', a)

Enter a number: 3
Enter a second number: 3
3.0 and 3.0 are the same number

+ Another way to write the last code is:

In [9]:
a=11
b=10
print('A') if a>b else print('=') if a==b else print('B')

A

+ Other examples:

In [11]:
a=int(input('Enter marks: '))
if a>= 85:
    print('A grade')
elif (a<85) and (a>=80):
    print('A- grade')
elif (a<80) and (a>=75):
    print('B grade')
elif (a<75) and (a>=70):
    print('B- grade')
else:
    print('Bellow average')

Enter marks: 81
A- grade

In [1]:
cost=float(input('Enter the cost of the product: $'))
if cost>0 and cost<=300:
    print('This product is cheap')
elif cost>300 and cost<=1000:
    print('This product has an intermediate price')
elif cost>1000 and cost<=5000:
    print('This product is expensive')
else: 
    print('Are u a millionaire?')

Enter the cost of the product: $5001
Are u a millionaire?

+ How to write comments.

In [16]:
# Single comment
"""
Large comment. 
User will enter a floating point number let say 238.915
Your task is to find the integer portion before de point.
"""

num=float(input('Enter a real number: '))
y=round(num)

if num>0:
    if y>num:
        ym=y-1
    else:
        ym=y
    print(ym)
else:
    nm=num*(-1)
    rnm=round(nm)
    if rnm>nm:
        tm=rnm-1
    else:
        tm=rnm
    print(tm)

Enter a real number: -20.56
20

# Loops

+ While loop (example-print numbers 1 to 100).

In [1]:
i=1
while i<=100:
    print(i)
    i+=1
print('Finish')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
Finish

In [2]:
i=100
while i>=1:
    print(i)
    i-=1
print('Done')

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Done

In [4]:
i=int(input('Enter the number you want to print up to: '))
ini=1
while ini<=i:
    print(ini)
    ini+=1
print('Done')

Enter the number you want to print up to: 7
1
2
3
4
5
6
7
Done

In [9]:
#Prints de square of the numbers given by the user
n=int(input('Enter a number: '))
i=1
while i<=n:
    print('This is your number:',i)
    po=i**2
    print('And this is its square:',po)
    i+=1
print('Done')

Enter a number: 10
This is your number: 1
And this is its square: 1
This is your number: 2
And this is its square: 4
This is your number: 3
And this is its square: 9
This is your number: 4
And this is its square: 16
This is your number: 5
And this is its square: 25
This is your number: 6
And this is its square: 36
This is your number: 7
And this is its square: 49
This is your number: 8
And this is its square: 64
This is your number: 9
And this is its square: 81
This is your number: 10
And this is its square: 100
Done

+ Only print even numbers. We're using the reserved word 'pass' that makes it out of the loop.

In [8]:
n=int(input('Enter a number: '))
i=1
while i<=n:
    if i%2==0:
        print(i)
    else:
        pass
    i+=1
print('End')

Enter a number: 23
2
4
6
8
10
12
14
16
18
20
22
End

+ Only print odd numbers.

In [10]:
n=int(input('Enter a number: '))
i=1
while i<=n:
    if i%2!=0:
        print(i)
    else:
        pass
    i+=1
print('End')

Enter a number: 50
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
End

In [17]:
i=1
while True:
    if i%7!=0:
        print('inside if')
        i+=1
        continue
    print('Something')
    print('Something else')
    break

inside if
inside if
inside if
inside if
inside if
inside if
Something
Something else

In [16]:
i=1
while True:
    if i%9==0:
        print('Inside if')
        break
    else:
        print('Inside else')
        i+=1
print('End')

Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside if
End

+ FOR LOOP. We use 'append' to add new element to our list.

In [20]:
L=[]
for i in range(10):
    y=i+1
    print(y)
    L.append(y**2)
print(L)

1
2
3
4
5
6
7
8
9
10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [21]:
L=[]
for i in range(0,10,2):
    y=i+1
    print(y)
    L.append(y**2)
print(L)

1
3
5
7
9
[1, 9, 25, 49, 81]

In [23]:
L=[]
for i in range(0,10,2):
    y=i
    print(y)
    L.append(y**2)
print(L)

0
2
4
6
8
[0, 4, 16, 36, 64]

In [28]:
L=[]
for i in range(10,110,10):
    y=i
    print(y)
    L.append(y**2)
print(L)

10
20
30
40
50
60
70
80
90
100
[100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100, 10000]

+ An example of the for loop in a list.

In [7]:
S={"hello",5.6,"cherry"}
i=0
for x in S:
    print(x)
    i+=1
    if i==3:
        break
    else:
        pass
else:
    print('Loop completes its iterations')

cherry
hello
5.6

# Dictionary

+ To declare a dictionary we first open keys and the first thing we have to write between inverted commas is the key and then put a colon to put the value of the key.

In [8]:
D={'age:':17,'name:':'Manu','phone number:':5571190185}
for x in D:
    print(x,D[x])

age: 17
name: Manu
phone number: 5571190185

+ What is printed first inside the for is the key and then we must put the value of the key inside the dictionary.

In [4]:
D_ofBook={'Title:':'Divine Comedy','Author:':'Dante Alighieri','Genre:':'Literary','Type:':'Epic poem','Date of publication:':1472}
print('The title of the book is: ',D_ofBook['Title:'])
for x in D_ofBook:
    print(x,D_ofBook[x])

The title of the book is:  Divine Comedy
Title: Divine Comedy
Author: Dante Alighieri
Genre: Literary
Type: Epic poem
Date of publication: 1472

+ Exercise of dictionary.

In [38]:
"""
Given a list of numbers i.e. [1,2,4,-5,7,9,3,2...], make another list that contains all
the items in sorted order from min to max. i.e. your result will be another list like
[-5,1,2,2,3,3,7,9...]
"""

L=[1,2,4,-5,7,9,3,2,7,34,23,-43,223,-12]
#First, we have the loop that gives us the last number of the list and to tell us how many numbers there are in the list
for j in range(len(L)):
    #m is a variable that gives us the last number
    m=L[j]
    #idx is a variable that give us the number of elements that contains our list, starting from 0 
    idx=j
    #We use c to create a counter
    c=j
    
    #We are using this loop to limit the space that can contains our new list 
    for i in range(j,len(L)):
        if L[i]<m:
            m=L[i]
            idx=c
        c+=1
    tmp=L[j]
    L[j]=m
    L[idx]=tmp
print(L)

[-43, -12, -5, 1, 2, 2, 3, 4, 7, 7, 9, 23, 34, 223]

In [26]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

# Functions

In [42]:
def printWords():
    """This function does nothing
    Just show a few words"""
    print('Hello')
    print('bYE')
    print('OH')

printWords()

Hello
bYE
OH

+ If we want to know what is doing our function we just have to write its name followed by a question mark. This action will show us the DocString that we put inside the function.

In [45]:
printWords?

+ Functions with input arguments.

In [47]:
def printMessage(msg):
    print(msg)
    
printMessage('This is the word that my function will print')
printMessage('Good Bye')

This is the word that my function will print
Good Bye

In [57]:
def cmessage(msg):
    """This function receives an argument, if the argument is a string it will be printed, if this is not the case
    will show a different message"""
    if isinstance(msg,str):
        print(msg)
    else:
        print('Your message must be a string')
        print('The message is type',type(msg))
        
cmessage(23)
cmessage('This is a string')

Your message must be a string
The message is type <class 'int'>
This is a string

In [67]:
def mypow(a,b):
    if type(a)==int and type(b)==int:
        c=a**b
        print(c)
    else:
        print('Your inputs must be integers')
mypow(2,4)

16

In [68]:
def cargs(a,b,c):
    if isinstance(a,(int,float)) and isinstance(b,(int,float)) and isinstance(c,(int,float)):
        print((a+b+c)**2)
    else: 
        print('ERROR: The numbers must be int or float types')

In [69]:
cargs(2,3.5,'a')

ERROR: The numbers must be int or float types

In [71]:
cargs(2,3.5,7.5)

169.0

+ Order of input arguments.

In [72]:
def f(a,b,c):
    print('A is:',a)
    print('B is:',b)
    print('C is:',c)

In [73]:
f(2,4.5,'game')

A is: 2
B is: 4.5
C is: game

In [74]:
f(c='halo',a=345,b=12.45)

A is: 345
B is: 12.45
C is: halo

+ Variables inside

In [78]:
def add(x,y):
    z=x+y 
    return z
add(34,20)

54

+ We cannot call a variable that been inside the function.

In [77]:
print(z)

NameError: name 'z' is not defined

In [79]:
d=add(20,20)
print(d)

40

+ The thing that we can do is call or use a global variable that been outside a function.

In [81]:
x=23

In [87]:
def gi():
    print(x)

In [88]:
gi()

23

In [89]:
def gi2():
    x=10
    print(x)
gi2()

10

In [90]:
x

23

In [91]:
print(type(gi2()))

10
<class 'NoneType'>

In [92]:
def r():
    a=5
    b=7
    c='something'
    return a,b,c

In [94]:
x,y,z=r()
print(x,y,z)

5 7 something

+ Variable numbers of input arguments. To have different inputs on the arguments we have to use the * symbol and then put the name of variable.

In [95]:
def add(*args):
    sum=0
    for i in range(len(args)):
        sum+=args[i]
    return sum

In [97]:
add(2,3,4,6,1,4,12,14)

46

+ Variable numbers of input arguments. We have to use ** to instance certain number of values.

In [101]:
def argsc(**c):
    for x in c:
        print('Variable name is:',x,'and its value is:',c[x])
argsc(c1=23.3, c2='wave', c3=21, c4='eyy', c5='aoll')

Variable name is: c1 and its value is: 23.3
Variable name is: c2 and its value is: wave
Variable name is: c3 and its value is: 21
Variable name is: c4 and its value is: eyy
Variable name is: c5 and its value is: aoll

+ Default values.

In [103]:
def fs(sum=0):
    print(sum)
fs(2341)

2341

In [104]:
L=[2,31,4]
L2=L
L2[1]=12
print(L2)

[2, 12, 4]

In [114]:
def defaultv(l=[1,2]):
    for i in l:
        print(i)

In [119]:
L=[2,31,4]
defaultv()
print('-----')
defaultv(L2)
print('-----')
defaultv(L)

1
2
-----
2
12
4
-----
2
31
4